@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgba(101, 92, 71, 11%);
}

div#photo {
  background: url("../images/mbj.jpg") no-repeat center center;
  background-size: cover;
  height: 100vw;
  border: 10px solid #1f1f1f;
}

div#header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

div#header h1 {
  font-size: 28px;
  margin-top: 35.25px;
  font-family: "Libre Baskerville", serif;
}

div#header p {
  margin-top: 35.25px;
}

select#pCount {
  margin-top: 35.25px;
}

div#content-container {
  max-width: 350px;
  margin: 0 auto;
}

.hello {
  margin: 24px 0;
  text-align: justify;
}

@media (min-width: 960px) {
  div#container {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  div#content {
    overflow: scroll;
  }

  div#content-container {
    max-width: 450px;
    padding: 30px;
  }

  div#photo {
    height: calc(100vh - 40px);
    width: 50%;
    flex: 1;
    border: 20px solid #1f1f1f;
  }

  div#header h1 {
    font-size: 35.25px;
    margin-top: 64.75px;
  }

  div#header p {
    margin-top: 35.25px;
  }

  div#content {
    flex: 1;
  }

  .hello {
    margin: 24px 2px;
  }
}
